#title , #question {
  text-align: center;  
}

#start {
 position: relative;
 left: 50%;
 transform: translate(-50%, 0);
 height: 10vh;
 width: 20vh;
 font-size: large;
 background-color: rgb(31, 197, 183);
 border-color: gold;
}

#multiChoice {
 margin: 5vh 0 5vh 10vh;
}
#question{
  margin-bottom: 5vh;
  visibility: hidden;
}

.abcd {
  position: relative;
 display: block;
 height: 10vh;
 width: 20vh;
 visibility: hidden;
 left: 50%;
 transform: translate(-50%,0);
}


